.book-preview a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.book-preview .book-info {
  text-align: center;
  width: 200px;
}

.book-info {
  max-width: 800px;
}
