.book-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.filter input {
  padding: 0.5em;
  min-width: 150px;
  width: 100%;
}

.filter label {
  margin-right: 0.5em;
  font-weight: bold;
}
