.book-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
  max-width: 1200px;
}

.book-details .book-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.book-info .red {
  color: red;
}

.book-info .green {
  color: green;
}

.book-img {
  position: relative;
}

.book-img .on-sale-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  transform: translate(8%, -10%);
}
