# all
*

# gitignore
!.gitignore

# entry points
!index.html
!app.js
!RootCmp.jsx

# css
!assets/
!assets/style/
!assets/style/base/
!assets/style/cmps/
!assets/style/pages/
!assets/style/setup/
!assets/style/main.css
!assets/style/base/base.css
!assets/style/base/helpers.css
!assets/style/base/layout.css
!assets/style/cmps/AppHeader.css
!assets/style/cmps/BookList.css
!assets/style/cmps/BookPreview.css
!assets/style/cmps/BookFilter.css
!assets/style/cmps/LongTxt.css
!assets/style/cmps/BookForm.css
!assets/style/pages/Home.css
!assets/style/pages/BookDetails.css
!assets/style/pages/BookIndex.css
!assets/style/setup/typography.css
!assets/style/setup/vars.css

# images
!assets/img/
!assets/img/on-sale-corner-ribbon.png

# lib
!lib/
!lib/animate.css
!lib/babel-preset.js
!lib/babel.js
!lib/history.js
!lib/loadBabelModules.js
!lib/react-dom.development.js
!lib/react-router-dom.js
!lib/react-router.js
!lib/react.development.js

# pages
!pages/
!pages/About.jsx
!pages/BookDetails.jsx
!pages/BookIndex.jsx
!pages/Home.jsx

# cmps
!cmps/
!cmps/AppHeader.jsx
!cmps/BookList.jsx
!cmps/BookPreview.jsx
!cmps/BookFilter.jsx
!cmps/LongTxt.jsx
!cmps/BookForm.jsx

# services
!services/
!services/util.service.js
!services/async-storage.service.js
!services/book.service.js
!services/event-bus.service.js
