# all
*

# gitignore
!.gitignore

# entry points
!index.html
!app.js
!RootCmp.jsx

# assets folders
!assets/
!assets/style/
!assets/style/cmps/

# images
!assets/img/audu.png
!assets/img/default.png
!assets/img/fiak.png
!assets/img/mitsu.png
!assets/img/react.png
!assets/img/subali.png

# css
!assets/style/main.css

# cmps
!cmps/AppHeader.jsx
!cmps/BookList.jsx

# lib
!lib/animate.css
!lib/babel-preset.js
!lib/babel.js
!lib/history.js
!lib/loadBabelModules.js
!lib/react-dom.development.js
!lib/react-router-dom.js
!lib/react-router.js
!lib/react.development.js

# pages
!pages/About.jsx
!pages/BookDetails.jsx
!pages/BookIndex.jsx
!pages/Home.jsx

# services
!services/async-storage.service.js
!services/book.service.js
!services/util.service.js
